apiVersion: apps/v1
kind: Deployment
metadata:
  name: piper
  namespace: smarthome
spec:
  selector:
    matchLabels:
      app: piper
  template:
    metadata:
      labels:
        app: piper
    spec:
      containers:
        - name: piper
          image: rhasspy/wyoming-piper:2.1.2
          args:
            - --voice
            - nl_BE-rdh-medium
          env:
          - name: TZ
            value: Europe/Brussels
          resources: {}
          ports:
            - containerPort: 10200
              name: piper-port
              protocol: TCP
          volumeMounts:
            - name: piper-data
              mountPath: /data
      volumes:
          - name: piper-data
            persistentVolumeClaim:
              claimName: piper-data