- name: Configure dns
  hosts: k3scluster
  become: true
  roles:
    - role: k3s_pre
      vars:
        # curl -s https://api.github.com/repos/k3s-io/k3s/releases/latest | jq -r .tag_name
        k3s_pre_version: v1.35.0+k3s1

- name: K3s setup - master
  hosts: k3smaster
  become: true
  serial: 1
  roles:
    - role: dns
      vars:
        dns_set_record: "{{ k3s_master_domain_name }}"
        dns_set_record_value: "{{ hostvars[k3s_primary_master].host_ip_address }}"
      run_once: true
    - k3s_master
    - role: dns
      vars:
        dns_set_record: "{{ k3s_master_domain_name }}"
        dns_set_record_value: "{% set hostIps = []%}{% for host in ansible_play_hosts %}{{ hostIps.append(hostvars[host].host_ip_address) }}{% endfor %}{{hostIps}}"
      run_once: true

    - role: dns
      vars:
        dns_set_record: "ingress"
        dns_set_record_value: "{{ k3s_master_ingress_ip }}"
        set_record_type: "A"
      run_once: true

    - role: dns
      vars:
        dns_set_record: "*"
        dns_set_record_value: "ingress"
        dns_record_type: "cname"
      run_once: true

- name: K3s setup - workers
  hosts: k3sworkers
  become: true
  roles:
    - k3s_worker
