traefik:
  fullnameOverride: traefik-external

  commonLabels: 
    app: traefik-external
  rbac:
    enabled: true
  ports:
    web:
      http:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
            priority: 10
    websecure:
      http:
        tls:
          enabled: true

  service:
    spec:
      externalTrafficPolicy: Local

  providers:
    kubernetesCRD:
      enabled: true
      ingressClass: traefik-external
      allowExternalNameServices: true
    kubernetesIngress:
      enabled: true
      allowExternalNameServices: true
      publishedService:
        enabled: false

  priorityClassName: "system-cluster-critical"
  tolerations:
    - key: "CriticalAddonsOnly"
      operator: "Exists"
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"

  additionalArguments:
    - '--entryPoints.web.forwardedHeaders.trustedIPs=<secret:kv/data/kube-system/traefik~trusted-ips>'
    - '--entryPoints.websecure.forwardedHeaders.trustedIPs=<secret:kv/data/kube-system/traefik~trusted-ips>'
    - --providers.kubernetesingress.ingressclass=traefik-external
    - --serversTransport.insecureSkipVerify=true

  deployment:
    replicas: 2

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      # Avoid running external Traefik replicas on the same node
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app: traefik-external
          topologyKey: kubernetes.io/hostname
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      # Prefer non-Pi nodes for better performance
      - weight: 50
        preference:
          matchExpressions:
          - key: type
            operator: NotIn
            values:
            - rpi

  metrics:
    prometheus: {}

  # resources:
  #   requests:
  #     cpu: 100m
  #     memory: 70Mi
  #   limits:
  #     cpu: 130m
  #     memory: 80Mi