- name: Copy K3s service file
  register: k3s_service
  ansible.builtin.template:
    src: "k3s.service.j2"
    dest: "{{ systemd_dir }}/k3s-node.service"
    owner: root
    group: root
    mode: "0644"

- name: Creates k3s config dir
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"

- name: Get token from primary master node
  ansible.builtin.slurp:
    path: "/var/lib/rancher/k3s/server/node-token"
  register: k3s_token_file
  delegate_to: "{{ k3s_primary_master }}"

- name: Validate token from primary master node
  ansible.builtin.fail:
    msg: "Failed to retrieve valid node token from primary master node {{ k3s_primary_master }}. Ensure K3s is properly running on the primary master."
  when:
    - k3s_token_file.content is not defined or k3s_token_file.content | b64decode | trim == ""

- name: Copy K3s config file
  ansible.builtin.template:
    src: "config.j2"
    dest: "/etc/rancher/k3s/config.yaml"
    mode: "0644"
  vars:
    k3s_token: "{{ k3s_token_file.content | b64decode | trim }}"

- name: Enable and check K3s service
  ansible.builtin.systemd:
    name: k3s-node
    daemon_reload: true
    state: restarted
    enabled: true
